<h1> bem vindo ao meu site teste <%= @user_mailer.usuario.nome%></h1>
<h2>faltam poucos passos para a finalização da sua conta<br> Use esta senha para adentrar em nosso site:</h2>
<h1><%=@user_mailer.senha%></h1>